[user]
	name = riskwah
	email = riskiwah@yandex.com

[color]
    diff = auto
    status = auto
    branch = auto
    ui = true

[core]
    editor = vim
    excludesfile = ~/.gitignore

[rerere]
    enabled = true