[user]
	name = riskwah
	email = riskiwah@yandex.com

[color]
    diff = auto
    status = auto
    branch = auto
    ui = true

[core]
    editor = vim
    excludesfile = ~/.gitignore_global

[pull]
	rebase = true

[rerere]
    enabled = true

[init]
	defaultBranch = main